.tabButton{    
    margin-right: 5px;
    border-color: #fff !important;
    border-radius: 0;
    padding: 5px;
    color: #027cb9;
    outline: none !important;
    background: #fff;
    border: none;
}

.tabButton:hover{
    background: #fff !important;
    color: #01537c;
}

.tabButton.selected{
    border-bottom-color: #01537c !important;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}  

#panel-window{
    overflow-y: scroll
}

#panel-window::-webkit-scrollbar {
    width: 3px;
}
 
#panel-window::-webkit-scrollbar-track {
    opacity: 0;
}
 
#panel-window::-webkit-scrollbar-thumb {
  background-color: rgba(128, 0, 128, 0.1);
  outline: 1px solid slategrey;  
}