.msg{
    width: 100%;
    display: flex;
}

.notMyMsg{
    justify-content: flex-start;    
}

.myMsg{
    justify-content: flex-end;    
}

.notMyMsg div{
    background: #82b2ca66;    
    max-width: 50%;
    width: fit-content;
}

.myMsg div{
    background: #f5f5f5;    
    max-width: 50%;
    width: fit-content;
}

.more{
    color: #0174ad;
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}

.dateContainer{
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;    
}

.dateText{
    width: 100px;
    border-radius: 5px;
    background: #7b8c94;
    color: white;
    font-size: 13px;
    display: inline-block;
    padding: 2px 10px;
    font-family: Quicksand;
    font-weight: bold;
}

.msgPrimary{
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 15px
}

.msgPrimary.noMargin{
    margin-top: 3px;
}

.msgContent{
    white-space: pre-wrap;
    margin-bottom: 2px;
    font-size: 14px;
    word-break: break-word;
    font-family: Quicksand;
    font-size: 13px;
}

.timeText{
    text-align: end;
    margin-bottom: 0px;
    font-size: 10px;
}
